.flexuda{
    fill: #7232E7;
}
.linha{
    height: 1px;
    background-color: #7232E7;
}
.caixinha{
    background-color: #262626;
    border-radius: 10px;
    border: 1px solid #7232E7;
    width: 139px;
    align-items: center;
}
.menu-option{
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}