*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.inputin{
    width: 314px;
    height: 50px;
    color: #fff;
    padding-left: 30px;
    font-size: 15px;

    background: #3C3A3A;
    border-radius: 18px;
    outline: none;
}

.inputin::placeholder{
    color: #fff;
}

.inputin:focus::placeholder{
    color: #3C3A3A;
}