*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none; /* no underline */
}

a:hover {
    color: #7232E7;
}

ul {
    list-style: none;
}

body {
    background-color: #262626;
    color: #fff;
}

.Conf{
    display: flex;
    justify-content: center;
    margin: 100px auto;

    font-size: 25px;
}

.Conteudo{
    display: flex;
    justify-content: center;
}

.caixote-esquerdo{
    margin-right: 170px;
}

.Fotenha{
    margin: 15px auto;
    border: 3px solid #fff;
    width: 272px;
}

.Entradas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding-top: 43px;
}

.InputUsu{
    margin-bottom: 37px;
}

/*Apartir daqui não sei o quanto isso é aceitavel em um código*/
input.inputin{
    width: 394px;
    height: 72px;
    font-size: 17.5px;
}
button.botao{
    width: 394px;
}
