/* Styling the Top Page */
.Top-Page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 970px;

    border-bottom: solid 7px #7232E7;
    background: linear-gradient(45deg, #2B0D5F -5.81%, rgba(43, 13, 95, 0) 87.38%);
}

/*Styling the Main-Content*/
.Main-Content{
    width: 1200px;
    height: 747px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgba(27, 27, 27, 0.8);
    border-radius: 60px;
}

/*Styling the Title*/
.Game-Title{
    margin-top: 44px;
}

/*Styling the content/images from the game*/
.Game-Content{
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

    font-size: 42px;
    color: #000000;
}

.Game-Cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264.06px;
    height: 390.51px;
    background: #C4C4C4;
}

.Game-Trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 662.94px;
    height: 390.51px;
    background: #C4C4C4;

    margin-left: 15px;
    margin-right: 15px;
}

.imageone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130.17px;
    height: 130.17px;
    margin-bottom: 14px;
    background: #C4C4C4;
}

.moreimages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130.17px;
    height: 102.28px;
    background: #C4C4C4;
    font-size: 25px;
}

/*Styling the score and list button*/
.Game-Score-List{
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.Public-Score{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.littletextxx{
    font-size: 15px;
    font-weight: 500;
}

.Add-To-List-Button{
    cursor: pointer;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.Add-To-List-Button img{
    height: 42px;
    width: 31px;
    margin-right: 27px;
}