body{
    background: linear-gradient(304.53deg, #2B0D5F -5.81%, rgba(43, 13, 95, 0) 87.38%);
}
#HighLights ul{
    list-style: none;
}
#HighLights ul li{
    display: inline-block;
}
#HighLights ul li a img{
    width: 300px;
}