body{
    background-color: #262626;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Montserrat','Courier New', Courier, monospace;
}
.degrade{
    background: linear-gradient(304.53deg, #2B0D5F -5.81%, rgba(43, 13, 95, 0) 87.38%);
}
main{
    overflow: auto;
    padding: 10px 58px;
    
}
.banner-principal{
    width: 880px;
    margin: 0 auto;
}
.inline{
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
    justify-content: space-around;
}
.banner-pequeno{
    width: 300px;
}
ul.sem-marcador{
    list-style: none;
}
img{
    width: 100%;
}
